<html>
  
  <head>
    <title>Try This At Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/radioButtons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clickButton.css') }}">

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>


  </head>
  
  <body>
  
          <a href="/inventory"><h2> Inventory </h2></a>
        <a href="/reccomendations"><h2> Recommendations </h2></a>
        <a href="/browse"><h2> Browse </h2></a>

    <h1> MyChemicalCookbook </h1>

   {% for key, value in experiments.items() %}
      <h1>{{key}}</h1>

      <ul>
      {% for exp in value %}
      <a href="{{ exp['link'] }}"><li>{{ exp['name'] }}</li></a>
      {% endfor %}
      </ul>

   {% endfor %}


  </body>

</html>