<html>
  
  <head>
    <title>Complia Ux Design</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/radioButtons.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clickButton.css') }}">

    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>


  </head>
  

  <body>
        <h1> MyChemicalCookbook </h1>

        <a href="/inventory"><h2> Inventory </h2></a>
        <a href="/reccomendations"><h2> Recommendations </h2></a>
        <a href="/browse"><h2> Browse </h2></a>

  </body>

</html>